@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(30, 48, 75);
  background: linear-gradient(
    106deg,
    rgba(30, 48, 75, 1) 0%,
    rgba(24, 38, 58, 1) 17%,
    rgba(19, 29, 43, 1) 46%,
    rgba(13, 17, 23, 1) 82%
  );
}

#header {
  background: rgb(30, 48, 75);
  background: linear-gradient(
    90deg,
    rgba(30, 48, 75, 1) 0%,
    rgba(24, 38, 58, 1) 17%,
    rgba(19, 29, 43, 1) 46%,
    rgba(13, 17, 23, 1) 82%
  );
}

.card {
  position: relative;
  padding: 25px;
  height: 350px;
  flex: 0 0 45%;
  max-width: 45%;
}

.card:nth-child(4n + 1),
.card:nth-child(4n + 4) {
  flex: 0 0 55%;
  max-width: 55%;
}

.card:nth-child(odd) {
  padding-left: 0;
  left: -100;
}

.card:nth-child(even) {
  padding-right: 0;
  right: -100;
}

@media only screen and (max-width: 800px) {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
    height: 230px;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card:nth-child(odd) {
    padding-left: 25px;
    left: -100;
  }

  .card:nth-child(even) {
    padding-right: 25px;
    right: -100;
  }
}
